*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Times New Roman', Times, serif;
}
.container{
    max-width: 100%;
}

header{
    width: 100%;
    height: 110px;
    display: flex;
    margin: auto; 
    justify-content: space-around;
    /* position: fixed; */
    /* background: none; */
}
/* header:hover{
    background-color: white;
} */
.giohang{
    cursor: pointer;
}
.logo{
    width: 177px;
    height: 113px;
    vertical-align: middle;
}
.menu .menu-parent{
    width: 650px;
    display: flex;
    justify-content: space-around;
}
.menu .menu-parent > li{
    display: inline-block;
    position: relative; 
    text-align: center;
    width: 15%;
}

.menu .menu-parent > li:last-child{
    width: 25%;
}
.menu .menu-child > li{
    list-style-type: none;
    width: 100%;
    text-align: left;
}
 
.menu .menu-child > li:first-child{
    padding-top: 0;
}
.menu-parent .menu-child{
    display: none;
    position: absolute;
    padding: 0 10px 10px;
    background-color: white;
    width: 10rem;
    z-index: 1;
    top: 90px;
}
.menu-parent .menu-child a{
    text-decoration: none;
    color: black;
}
.menu-parent > li > a{
    color: black;
    text-decoration: none;
    line-height: 110px;
    display: inline-block;
}
.menu-parent >li:hover> a,
.menu-child > li:hover > a{
    font-weight: bold;
}
.menu-parent li:hover .menu-child{
    display: block;
}
.menu-child li{
    padding-top: 15px;
}
.search{
    width: 400px;
    margin-top: 40px;
}
.search .search-button{
    cursor: pointer;
    background: none;
    border: none;
}
.search .search-text{
    padding: 6px;
    width: 83%;
    border-radius: 5px;
    background: none;
}
.user{
    width: 200px;
    display: flex;
}
.user .anh .nguoi{
    height: 100%;
}
.anh{
    display: flex;
    width: 100%;
    height: 70px;
    margin: auto;
    margin-left: 40px;
    margin-top: 27px;
}
.user .anh .giohang{
    margin-top: 13px;
    height: 58%;
}

.baoquanh{
    width: 80%;
    margin: auto;
    display: flex;
}
nav{
   width: 50%;
   border-right: 1px solid black;
}
section{
    width: 50%;
}
.khung{
    width: 80%;
    margin: auto;
}

.text-divider {
    display: flex;
    align-items: center;
    --text-divider-gap: 1rem;
    margin-top: 20px;
    margin-bottom: 20px;
}
.text-divider::before,
.text-divider::after {
content: '';
height: 1px;
background-color: #333;
flex-grow: 1;
}
.text-divider::before {
margin-right: var(--text-divider-gap);
}
.text-divider::after {
margin-left: var(--text-divider-gap);
}
.text-divider::before {
margin-right: 1rem;
}
.text-divider::after {
margin-left: 1rem;
}
.buttonn{
width: 100%;
height: 60px;
display: flex;
justify-content: space-between;
}
.buttonn .bu1,.bu2{
width: 45%;
height: 100%;
}

.icon-fb{
    width: 30%;
    height: 90%;
}
.icon-gg{
    width: 15%;
    height: 40%;
}
.username{
    font-weight: bold;
}
.login{
    text-align: center;
    font-weight: bold;
    font-size: xx-large;
}
#username,#pwd{
    padding: 10px;
}
footer{
    margin-top: 80px;
    width: 100%;
}
.chua{
    width: 80%;
    display: flex;
    justify-content: space-around;
    border-top: 1px solid black;
    margin: auto;
    height: 300px;
}
footer .left,.mid,.right{
    width: 30%;
}
footer .left,.right,.mid{
    margin-top: 10px;
}
.mid ul li a{
    text-decoration: none;
    color: black;
}
.right ul li a{
    text-decoration: none;
    color: black;
}
.app{
    width: 80%;
    display: flex;
    justify-content: space-evenly;
}
.app a{
    color: black;
}